.button button {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  cursor: pointer;
  width: 30%;
  display: block;
  border-radius: 10px;
  border-color:rgb(19, 16, 216);
  text-align: center;
  margin:0 auto;
  margin-top: 5px;
}
.button button:hover {
  background-color: #60a9d0;
}
